ul.nav-tabs {
  padding-left: 330px;
}

ul.navbar-nav {
	border-bottom: 1px solid lightgray;
	width: 100%;
}

nav.navbar-default {
	background-color: white;
	border: none;
}

nav.navbar-default > ul > li.active {
	background-color: none;
	font-weight: bold;
}

.navbar-right {
	margin-right: 0;
}

.navbar-default .navbar-nav > .active > a {
	background-color: white;
}

h1 {
	position: relative;
	top: 40px;
}

#logo {
	display: inline;
	width: 80px;
}