#main-container {
	padding-top: 15px;
}

#ithaca-brand {
	font-weight: bold;
	font-size: 20px;
	margin-right: 15px;
}

#ithaca-brand > img {
	margin-right: 5px;
}

div.tab-pane {
	padding-top: 15px;
}

#mainNav .navbar-inner {
	border-bottom: 1px solid lightgray;
}

nav.navbar-default {
	background-color: white;
	border: none;
}

#mainNav nav.navbar-default>ul>li.active {
	background-color: none;
	font-weight: bold;
}

.navbar-right {
	margin-right: 0;
}

#mainNav .navbar-default .navbar-nav>.active>a {
	background-color: white;
}

#logo {
	display: inline-block;
	width: 80px;
}

.ad-content {
	margin-top: 10px;
}

.ad-small-preview-outer, .ad-wide-preview-outer {
	margin-bottom: 15px;
}

.ad-small-preview-inner, .ad-wide-preview-inner {
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 15px;
}

.bottom15 {
	margin-bottom: 15px;
}

.right15 {
	margin-right: 15px;
}

tr.message-unread {
	font-weight: bold;
}

tr.message-row {
	cursor: pointer;
}

.input60 {
	width: 60px !important;
}

.betweenLabel {
	margin: 0px 7px;
}

.table>tbody>tr>td {
	vertical-align: middle !important;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.auction-Column {
		border-left: 1px solid lightgray;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.auction-Column {
		border-left: 1px solid lightgray;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.auction-Column {
		border-left: 1px solid lightgray;
	}
}

h1 {
	margin-top: 0;
}

h3 {
	margin-top: 10px;
}

.breadcrumb {
	margin-bottom: 10px;
}

.navbar-nav > li > a {
	padding: 7px 15px;
}

.nav > li > a {
	padding: 7px 15px;
}

.navbar {
	min-height: 0;
}

#map {
	border-radius: 4px;
}