ul.nav-tabs {
  padding-left: 210px;
}

#mainNav .navbar-inner {
	border-bottom: 1px solid lightgray;
}

 nav.navbar-default {
	background-color: white;
	border: none;
}

#mainNav nav.navbar-default > ul > li.active {
	background-color: none;
	font-weight: bold;
}

.navbar-right {
	margin-right: 0;
}

#mainNav .navbar-default .navbar-nav > .active > a {
	background-color: white;
}

h1 {
	position: relative;
	top: 40px;
}

#logo {
	display: inline;
	width: 80px;
}

.ad-content {
	margin-top: 10px;
}

.ad-small-preview-outer, .ad-wide-preview-outer {
	margin-bottom: 15px;
}

.ad-small-preview-inner, .ad-wide-preview-inner {
	border: 1px solid lightgray;
	padding: 15px;
}

.bottom15 {
	margin-bottom: 15px;
}

tr.message-unread {
	font-weight: bold;
}

tr.message-row {
	cursor: pointer;
}